@import './border.1px';
@import './mixin';
body,
html {
  font-weight: 200;
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
  line-height: 1;
}

.bfc {
  overflow: hidden;
}

.bfc:before,
.bfc:after {
  display: block;
  visibility: hidden;
  overflow: hidden;
  content: '';
}

.bfc:after {
  clear: both
}

@include border-1px(#eee);
