@import './border.1px';
@import './mixin';
body,
html {
  font-weight: 200;
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
  line-height: 1;
}

@include border-1px(#eee);
